<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ticket Viewer</title>
</head>
<body>
    <h1>Welcome to the Zendesk Ticket Viewer</h1>
    <p>Click link below to navigate</p>
    <A href="/tickets/1">View All Tickets</A>
</body>
</html>